/* CardsCarousel.module.css */
.carousel {
  background-color: #f7f7f7; /* Customize the background color */
}

.carouselControls {
  top: calc(50% - rem(20px)); /* Adjust control positioning */
}

.carouselIndicator {
  width: rem(10px);
  height: rem(10px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(30px);
  }
}